<pre>
    <div class="add-use-form">
        <label for="name">Name: </label>
        <input type="text" id="name" [(ngModel)]="userName">
        <label for="age">Age: </label>
        <input type="text" id="age" [(ngModel)]="userAge">
        <br>
        <button (click)="addUser()">Add User</button>
    </div>
</pre>